
body {
  margin: auto;
  background-image: url("./content/nebulosa.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
    
  color: white;
  text-align: justify;
  font-family: Roboto-Thin;
  line-height: 26px
}

@font-face {
  font-family: DancingScript;
  src: url(font/DancingScript-VariableFont_wght.ttf);
}
@font-face {
  font-family: Roboto-Thin;
  src: url(font/Roboto-Thin.ttf);
}

body p, body h3, body h2, body h1 {
    margin-left: 10px;
    margin-right: 10px;
}

.navbar {
    height: auto;
    width: auto;
    overflow: hidden;
    background-color: black;
    font-family: inherit;
}

.navbar a {
    float: left;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown, .dropdown2, .dropdown3 {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn, .dropdown2 .dropbtn2, .dropdown3 .dropbtn3 {
    font-size: 20px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropdown2:hover .dropbtn2, .dropdown3:hover .dropbtn3 {
    color: white;
    background-color: #333333;
}

/*Test right alignment*/

.navbar-right {
    float: right
}

.dropdown-content, .dropdown2-content, .dropdown3-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/*Dropdown without hover*/
.dropdown-content a, .dropdown2-content a, .dropdown3-content a {
    float: none;
    font-size: 16px;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
/*Dropdown with hover*/
.dropdown-content a:hover, .dropdown2-content a:hover, .dropdown3-content a:hover  {
    background-color: #333333;
}
.dropdown:hover .dropdown-content, .dropdown2:hover .dropdown2-content, .dropdown3:hover .dropdown3-content {
    display: block;
}


* {
    box-sizing: border-box;
}

/*Split Columns from index.html*/
.column1 {
    float: left;
    width: 74%;
    padding: 10px;
    height: auto;
    background: rgba(242,242,242,0.1);
    opacity: 0.75;
}

div.column1:hover, div.column2:hover {
    opacity: 1;
}

.column2 {
    float: right;
    width: 24%;
    padding: 10px;
    height: auto;
    background: rgba(242,242,242,0.1);
}

/*Clears row after*/
.row:after {
    content: "";
    display: table;
    clear: both;
}
