
body {
  margin: auto;
  background-image: url("content/nebulosa.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
    
  color: white;
  text-align: justify;
  font-family: Roboto-Thin;
  line-height: 26px
}

@font-face {
  font-family: DancingScript;
  src: url(font/DancingScript-VariableFont_wght.ttf);
}
@font-face {
  font-family: Roboto-Thin;
  src: url(font/Roboto-Thin.ttf);
}

body p, body h3, body h2, body h1 {
    margin-left: 10px;
    margin-right: 10px;
}

a {
    color: teal;
    text-decoration: none;
    
}

a:hover {
    opacity: 0.7;
    text-decoration: underline;
}

/*Split Columns from index.html*/
.column1 {
    float: left;
    width: 74%;
    padding: 10px;
    height: auto;
    background: rgba(242,242,242,0.1);
    opacity: 0.75;
}

div.column1:hover, div.column2:hover {
    opacity: 1;
}

.column2 {
    float: right;
    width: 24%;
    padding: 10px;
    height: auto;
    background: rgba(242,242,242,0.1);
}

/*Clears row after*/
.row:after {
    content: "";
    display: table;
    clear: both;
}
